asgiref==3.2.7
colorama==0.4.3
cycler==0.10.0
dj-database-url==0.5.0
Django==3.1.6
django-qr-code==1.1.0
gunicorn==20.0.4
kiwisolver==1.1.0
matplotlib==3.1.2
MouseInfo==0.1.2
numpy==1.18.1
pandas==1.0.0
Pillow==7.0.0
psycopg2==2.8.5
PyAutoGUI==0.9.48
pygame==1.9.6
PyGetWindow==0.0.8
PyMsgBox==1.0.7
pyparsing==2.4.6
pyperclip==1.7.0
PyRect==0.1.4
PyScreeze==0.1.26
pyserial==3.4
python-dateutil==2.8.1
python-decouple==3.3
PyTweening==1.0.3
pytz==2019.3
qrcode==6.1
reportlab==3.5.42
six==1.14.0
sqlparse==0.3.1
whitenoise==5.0.1
xlrd==1.2.0
