<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>Qr Code Generatorcambio</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
	<div class="contact1">
		<div class="container-contact1">
			<form action="/send" class="contact1-form validate-form" method="post">
                {% csrf_token %}
				<span class="contact1-form-title">
					Generar Codigo QR
				</span>
				<div class="wrap-input1" data-validate = "Name is required">
                    <input class="input1"  type="text" name="RUC" id="Entry1" placeholder="Ingrese RUC">
				</div>
				<div class="wrap-input1" data-validate = "Name is required">
                    <input class="input1"  type="text" name="Nombre" id="Entry2" placeholder="Ingrese Nombre del Establecimiento">
				</div>
				<div class="container-contact1-form-btn">
					<input type="submit" class="contact1-form-btn" value="Generate QR Code" />
				</div>

			</form>

			<div class="contact1-pic" data-tilt>
				{% if RUC %}
                    {% with '/media/image/'|add:RUC|add:'.png' as image_path %}
                    <img  alt="No Image" src="{{image_path}}"/>
                    {% endwith %}
                {% else %}
                <h1>Ingrese informacion Oficial</h1>
                {% endif %}
				<a href="/reporte" class="contact1-form-btn" style="text-decoration: none;">
                	Generar PDF
            	</a>
			</div>



		</div>
	</div>

</body>
</html>
